<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>INFO DELETE SCREEN</h5>
        </div>
    </div>
</mat-card>

<div mat-dialog-content class="project-name">
    <h3 class="text-center">Thêm chức năng xóa cho Lớp?</h3>

    <!-- search project -->
    <div class="row justify-content-center">
        <!-- list project -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Project name</mat-label>
                <mat-select (selectionChange)="onProjectSelectionChange()" [(ngModel)]="idProject"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let project of projects" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- list class -->
        <div class="col-md-6">
            <mat-form-field class="example-full-width">
                <mat-label>Class name</mat-label>
                <mat-select [(ngModel)]="idClass">
                    <mat-option *ngFor="let class of classes" [value]="class.id">
                        {{class.classname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<!--Modal-->
<div mat-dialog-actions class="justify-content-center">
    <button type="button" class="btn btn-danger custom-button" (click)="onBtnProcessClick()"><i
            class="mdi mdi-upload"></i>Process</button>
    <button type="button" class="btn btn-success custom-button" (click)="onBtnCancelClick()"><i
            class="mdi mdi-loop"></i>Cancel</button>
</div>