<div class="row user-profile">
  <div class="col-lg-4 side-left d-flex align-items-stretch">
    <div class="col-12  stretch-card">
      <div class="card">
        <div class="card-body avatar">
          <h4 class="card-title text-center text-dark" i18n>Thông tin</h4>
          <img [src]="staffInfoLogin.avatar" alt="logo">
          <p class="fullname d-block text-center text-dark">{{staffInfoLogin.fullname}}</p>
          <p class="designation">- Information -</p>
          <a class="d-block text-center text-dark">{{staffInfoLogin.username}}</a>
          <a class="d-block text-center text-dark">{{staffInfoLogin.phone}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 side-right stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="wrapper d-block d-sm-flex align-items-center justify-content-between">
          <h4 class="card-title mb-0" i18n>Chi tiết</h4>
          <ul class="nav nav-tabs tab-solid tab-solid-primary mb-0" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
                aria-expanded="true" i18n>Thông tin cá nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="avatar-tab" data-toggle="tab" href="#avatar" role="tab" aria-controls="avatar"
                i18n>Ảnh đại diện</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="security-tab" data-toggle="tab" href="#security" role="tab"
                aria-controls="security" i18n>Mật khẩu</a>
            </li>
          </ul>
        </div>
        <div class="wrapper">
          <hr>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="info" role="tabpanel" aria-labelledby="info">
              <form role="form" [formGroup]="form">

                <!-- Tên -->
                <div class="form-group">
                  <label for="fullname" i18n>Tên</label>
                  <input type="text" formControlName="fullname" class="form-control" id="fullname"
                    [(ngModel)]="staffInfoLogin.fullname">
                </div>
                <div
                  *ngIf="form.controls['fullname'].invalid && (form.controls['fullname'].dirty || form.controls['fullname'].touched)"
                  class="alert alert-danger">
                  <div *ngIf="form.controls['fullname'].errors.required" i18n>
                    Vui lòng nhập tên của bạn
                  </div>
                  <div *ngIf="form.controls['fullname'].errors.maxlength" i18n>
                    Bạn không được nhập quá 50 ký tự
                  </div>
                  <div *ngIf="form.controls['fullname'].errors.minlength" i18n>
                    Bạn vui lòng nhập ít nhất 3 ký tự
                  </div>
                </div>

                <!-- username -->
                <div class="form-group">
                  <label for="username">Tên ký hiệu</label>
                  <input [(ngModel)]="staffInfoLogin.username" formControlName="username" type="text"
                    class="form-control" id="username" readonly style="cursor:not-allowed">
                </div>

                <!-- rolename -->
                <div class="form-group">
                  <label for="username">Tên chức vụ</label>
                  <input [value]="roleName" type="text" class="form-control" id="username" readonly
                    style="cursor:not-allowed">
                </div>

                <!-- Số điện thoai -->
                <div class="form-group">
                  <label for="mobile" i18n>Số điện thoại</label>
                  <input [(ngModel)]="staffInfoLogin.phone" formControlName="phone" type="text" class="form-control"
                    id="mobile">
                </div>

                <!-- địa chỉ -->
                <div class="form-group">
                  <label for="address" i18n>Địa chỉ</label>
                  <textarea [(ngModel)]="staffInfoLogin.address" formControlName="address" fullname="address"
                    id="address" rows="6" class="form-control"></textarea>
                </div>
                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success mr-2" (click)="onBtnUpdateClick()" i18n>Cập nhật</button>
                </div>
              </form>
            </div>
            <!-- tab content ends -->

            <!-- avatar -->
            <div class="tab-pane fade" id="avatar" role="tabpanel" aria-labelledby="avatar-tab">
              <div class="col-md-6">
                <img [src]=staffInfoLogin.avatar width="225px" class="m-x-auto img-fluid img-circle" alt="avatar">
                <label class="custom-file">
                  <div class="form-group">
                    <input type="file" #inputImageAvatar style="display: none" multiple="multiple" accept="image/*" />
                  </div>
                  <button i18n style="border: 1px solid red; border-radius: 3px; float: left; width: 300px;" mat-button
                    color="warn" (click)="onAvatarUploadImageClick()">
                    <i class="icon-cloud-upload"></i>
                    Hình ảnh
                  </button>
                </label>
              </div>
            </div>

            <div class="tab-pane fade" id="security" role="tabpanel" aria-labelledby="security-tab">
              <!-- start form -->
              <form [formGroup]="formresetpass">

                <!--password old-->
                <div class="form-group">
                  <label for="change-password" i18n>Đổi mật khẩu</label>
                </div>

                <!-- mật khẩu mới -->
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="newpassword" id="new-password"
                    [(ngModel)]="newpassword" placeholder="Nhập mật khẩu mới" i18n-placeholder>
                </div>
                <div
                  *ngIf="formresetpass.controls['newpassword'].invalid && (formresetpass.controls['newpassword'].dirty || formresetpass.controls['newpassword'].touched)"
                  class="alert alert-danger formresetpass-custom">
                  <div *ngIf="formresetpass.controls['newpassword'].errors.required" i18n>
                    Bạn phải nhập mật khẩu mới
                  </div>
                  <div *ngIf="formresetpass.controls['newpassword'].errors.maxlength" i18n>
                    Mật khẩu không quá 50 ký tự
                  </div>
                  <div *ngIf="formresetpass.controls['newpassword'].errors.minlength" i18n>
                    Mật khẩu ít nhất 3ký tự
                  </div>
                </div>

                <!-- match mật khẩu -->
                <div class="form-group">
                  <input type="password" formControlName="repassword" class="form-control" [(ngModel)]="repassword"
                    id="change-password" placeholder="Nhập lại mật khẩu mới" i18n-placeholder>
                </div>
                <div
                  *ngIf="formresetpass.controls['repassword'].invalid && (formresetpass.controls['repassword'].dirty || formresetpass.controls['repassword'].touched)"
                  class="alert alert-danger formresetpass-custom">
                  <div *ngIf="formresetpass.controls['repassword'].errors.required" i18n>
                    Bạn phải nhập mật khẩu mới
                  </div>
                  <div *ngIf="formresetpass.controls['repassword'].errors.maxlength" i18n>
                    Mật khẩu không quá 50 ký tự
                  </div>
                  <div *ngIf="formresetpass.controls['repassword'].errors.minlength" i18n>
                    Mật khẩu ít nhất 3 ký tự
                  </div>
                  <div *ngIf="formresetpass.controls['repassword'].errors.mustMatch" i18n>
                    Mật khẩu chưa khớp
                  </div>
                </div>

                <div class="form-group mt-5">
                  <button type="submit" class="btn btn-success mr-2" (click)="onChangePassClick()" i18n>Cập
                    nhật</button>
                  <button class="btn btn-outline-danger" (click)="onBtnCancelClick()" i18n>Hủy bỏ</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>