<div class="title-dialog text-center system-custom" role="alert">
  <h5 class="text-uppercase font-weight-bolder" i18n>Quản lý Role</h5>
</div>
<mat-card class="border border-dialog">
  <mat-card-content class="custom-overflow">
    <form [formGroup]="form" class="col-md-12">
      <div class="row">

        <!-- name field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>name <span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.name" formControlName="name">
            <button mat-button *ngIf="input.name" matSuffix mat-icon-button aria-label="Clear" (click)="input.name=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['name'].invalid
              && (form.controls['name'].dirty || form.controls['name'].touched)">
            <div *ngIf="form.controls['name'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

      </div>
    </form>
  </mat-card-content>

</mat-card>

<!--Modal -->
<div class="text-center" style="margin-top: 10px;">
  <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()"
    class="btn btn-success btn-fw mr-3 custom-button" i18n>
    <i class="fa fa-check"></i>
    Đồng ý</button>
  <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
      class="fa fa-times"></i> Đóng</button>
</div>
