.title-block {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  color: #fff;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
}
.example-full-width {
  width: 100%;
}
.add-button {
  margin: 20px 0;
}
table {
  width: 100%;
}
.project-name {
  margin: 20px 0px;
  width: 100%;
  .item {
    width: 12.5%;
    padding: 0 7px;
    .button {
      text-align: center;
      padding: 0px 2px;
    }
  }
}

// dialog
.custom-button {
  width: 200px;
  margin-right: 5px;
}

.custom-button-mini {
  width: 100px;
  margin-right: 5px;
}

.custom-overflow {
  height: 350px;  
  padding-left: 10px;
  overflow-y: auto;
}
