<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>INFO INSERT SCREEN</h5>
        </div>
    </div>
</mat-card>

<div mat-dialog-content class="project-name">
    <!-- search project -->
    <div class="row justify-content-center">
        <!-- title -->
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]='crud.titlecreate' [ngModelOptions]="{standalone: true}">
            </mat-form-field>
        </div>

        <!-- list project -->
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label>Project name</mat-label>
                <mat-select (selectionChange)="onProjectSelectionChange()" [(ngModel)]="idProject"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let project of projects" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- list class -->
        <div class="col-md-4">
            <mat-form-field class="example-full-width">
                <mat-label>Class name</mat-label>
                <mat-select (selectionChange)="onClassSelectionChange()" [(ngModel)]="idClass">
                    <mat-option *ngFor="let class of classes" [value]="class.id">
                        {{class.classname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="form custom-overflow">
        <!-- add item button -->
        <div class="text-center button" *ngIf="listItems.length==0">
            <button (click)="addItems()" type="button" class="btn btn-success btn-fw"><i class="fa fa-plus-circle"> </i>
                Add Item</button>
        </div>

        <div class="row" style="margin: 0; padding: 0" *ngFor="let item of listItems; let i = index">
            <!-- Title -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width">
                    <mat-label>Title</mat-label>
                    <input matInput [(ngModel)]='item.title' [ngModelOptions]="{standalone: true}">
                </mat-form-field>
            </div>

            <!-- Property -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <mat-label>Property</mat-label>
                    <mat-select (selectionChange)="onPropertySelectionChange(item)" [(ngModel)]="item.property"
                        [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let item of dataClass" [value]="item.property">
                            {{item.index}} : {{item.property}} : {{item.attribute}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Input type -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width">
                    <mat-label>Type Input</mat-label>
                    <mat-select [(ngModel)]='item.inputtype'>
                        <mat-option [value]="inputType.value" *ngFor="let inputType of inputTypes">
                            {{inputType.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Validations -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <mat-label>Validations</mat-label>
                    <mat-select multiple [(ngModel)]="item.validate">
                        <mat-option [value]="validator.value" *ngFor="let validator of validators">
                            {{validator.value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Class Reference -->
            <div class="col-md-2">
                <mat-form-field class="example-full-width">
                    <mat-label>Class</mat-label>
                    <mat-select [(ngModel)]='item.class' [ngModelOptions]="{standalone: true}">
                        <mat-option></mat-option>
                        <mat-option *ngFor="let class of classes" [value]="class.id">
                            {{class.classname}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Class Value -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width">
                    <mat-label>Value</mat-label>
                    <mat-select [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let item of getPropertiesByIdClass(item.class)" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Class Display -->
            <div class="col-md-1">
                <mat-form-field class="example-full-width">
                    <mat-label>Display</mat-label>
                    <mat-select [(ngModel)]="item.display" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let item of getPropertiesByIdClass(item.class)" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- acction -->
            <div class="col-md-2" style="margin-top: 11px">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button (click)="addItems()" type="button" class="btn btn-success icon-btn"><i
                            class="icon-plus"></i></button>
                    <button (click)="removeItem(i)" type="button" class="btn btn-info icon-btn"><i
                            class="icon-close"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal-->
<div mat-dialog-actions class="justify-content-center">
    <button type="button" class="btn btn-danger custom-button" (click)="onBtnProcessClick()"><i
            class="mdi mdi-upload"></i>Process</button>
    <button type="button" class="btn btn-success custom-button" (click)="onBtnCancelClick()"><i
            class="mdi mdi-loop"></i>Cancel</button>
</div>