<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>THÔNG TIN DỰ ÁN</h5>
        </div>
    </div>
</mat-card>

<form [formGroup]="form" class="col-md-12">

    <!--Project Name-->
    <div mat-dialog-content class="project-name">

        <mat-form-field class="example-full-width">
            <mat-label>Project name</mat-label>
            <input matInput [(ngModel)]="project.name" formControlName="name">
        </mat-form-field>
        <div *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)"
            class="alert alert-danger">
            <div *ngIf="form.controls['name'].errors.required" i18n>
                Bắt buộc nhập trường này
            </div>
            <div *ngIf="form.controls['name'].errors.maxlength" i18n>
                Bạn không được nhập quá 100 ký tự
            </div>
            <div *ngIf="form.controls['name'].errors.minlength" i18n>
                Bạn vui lòng nhập ít nhất 5 ký tự
            </div>
        </div>
    </div>
</form>

<!--Modal-->
<div mat-dialog-actions class="justify-content-center">
    <button type="button" class="btn btn-danger custom-button" (click)="onBtnClick()"><i
            class="mdi mdi-upload"></i>Process</button>
    <button type="button" class="btn btn-success custom-button" (click)="onBtnNoClick()"><i
            class="mdi mdi-loop"></i>Cancel</button>
</div>