<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>DỰ ÁN</h5>
        </div>
    </div>
</mat-card>

<!-- search project -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-10">
            <mat-form-field class="example-full-width">
                <mat-label>Project name</mat-label>
                <mat-select [(ngModel)]="projectId" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let project of projects" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 text-center">
            <div class="example-button-row contain-button-filter">
                <button (click)="getListProject()" class="btn-transition btn btn-outline-primary button-filter">Search
                </button>
            </div>
        </div>
    </div>
</mat-card>

<!-- add new project -->
<div class="add-button">
    <button type="button" class="btn btn-success btn-fw" (click)="openDialogAdd()"><i class="mdi mdi-upload"></i>New
        Project</button>
</div>

<!-- list project -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th class="id" mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Project Name Column -->
    <ng-container matColumnDef="projectName">
        <th class="projectName" mat-header-cell *matHeaderCellDef mat-sort-header> Project Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Create Date Column -->
    <ng-container matColumnDef="createDate">
        <th class="createDate" mat-header-cell *matHeaderCellDef mat-sort-header> Create Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdate}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action"> 
        <th class="action" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="accent" (click)="openGenerationDialog(element)">Generation</button>
            <button mat-button color="accent" (click)="onBtnGenFlutterClick(element)">Flutter</button>
            <button mat-button color="primary" (click)="openDialogUpdate(element)">Update</button>
            <button mat-button color="warn" (click)="onBtnCreateCRUDClick(element)">Create CRUD</button>
            <!-- <button mat-button color="warn" (click)="openSnackBar(element)">Delete</button> -->
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>