.title-block {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  color: #fff;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 11px;
  padding-bottom: 10px;
  text-align: center;
}
.example-full-width {
  width: 100%;
}
.add-button {
  margin: 20px 0;
}
table {
  width: 100%;
}
.project-name {
  margin: 20px 0px;
  width: 100%;
}

.system-custom {
  .btn-transition {
    margin-top: 12px;
  }
}

.custom-btn-action{
  margin-right: 5px;
}