<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>C R U D</h5>
        </div>
    </div>
</mat-card>

<!-- search project -->
<mat-card class="system-custom">
    <div class="row">

        <!-- list project -->
        <div class="col-md-5">
            <mat-form-field class="example-full-width">
                <mat-label>Chọn Dự Án</mat-label>
                <mat-select (selectionChange)="onProjectSelectionChange()" [(ngModel)]="idProject"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let project of projects" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- list class -->
        <div class="col-md-5">
            <mat-form-field class="example-full-width">
                <mat-label>Chọn Bảng</mat-label>
                <mat-select (selectionChange)="onClassSelectionChange()" [(ngModel)]="idClass"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let class of classes" [value]="class.id">
                        {{class.classname}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 text-center">
            <div class="example-button-row contain-button-filter">
                <button (click)="getDataCRUD()" class="btn-transition btn btn-outline-primary button-filter">Search
                </button>
            </div>
        </div>
    </div>
</mat-card>

<!-- add new project -->
<div class="add-button">
    <button type="button" class="btn btn-success btn-fw custom-btn-action" (click)="onBtnListClick()"><i
            class="icon-list"></i>New List Screen</button>
    <button type="button" class="btn btn-danger btn-fw custom-btn-action" (click)="onBtnInsertClick()"><i
            class="icon-plus"></i>New Insert Screen</button>
    <button type="button" class="btn btn-warning btn-fw custom-btn-action" (click)="onBtnUpdateClick()"><i
            class="icon-layers"></i>New Update Screen</button>
    <button type="button" class="btn btn-info btn-fw custom-btn-action" (click)="onBtnDeleteClick()"><i
            class="icon-trash"></i>New Delete Screen</button>
</div>

<!-- list project -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- actionType Column -->
    <ng-container matColumnDef="actionType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action Type </th>
        <td mat-cell *matCellDef="let row">{{getActionTypeById(row.actiontype)}}</td>
    </ng-container>

    <!-- createDate Column -->
    <ng-container matColumnDef="createDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Create Date </th>
        <td mat-cell *matCellDef="let element"> {{element.createdate|date:'yyyy-MM-dd'}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="openDialogUpdate(element)">Update</button>
            <button mat-button color="warn" (click)="openSnackBar(element)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>