<div id="body" [ngClass]="(navLeft == true) ? 'sidebar-icon-only': ''">

  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center">

        <a class="navbar-brand brand-logo" routerLink="/manager/home"><img src="assets\images\logoizi.png"
            alt="logo"></a>
        <a class="navbar-brand brand-logo-mini" routerLink="/manager/home"><img src="assets\images\minilogo.png"
            alt="logo"></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button (click)="onToggleButtonDesktopClick()" class="navbar-toggler navbar-toggler align-self-center"
          type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav">
          <!-- begin multilanguage -->
          <li class="nav-item dropdown d-none d-lg-flex">
            <a class="nav-link dropdown-toggle" id="languageDropdown" href="#" data-toggle="dropdown">
              <i class="flag-icon flag-icon-gb"></i>
              English
            </a>

            <div class="dropdown-menu navbar-dropdown languageDropdownMobile" aria-labelledby="languageDropdown">
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-fr"></i>
                French
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-es"></i>
                Espanol
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item font-weight-medium" href="#">
                <i class="flag-icon flag-icon-lt"></i>
                Latin
              </a>
            </div>
          </li>
          <!-- end multilanguage -->
        </ul>

        <ul class="navbar-nav navbar-nav-right">
          <!-- begin info account -->
          <li class="nav-item dropdown d-none d-lg-flex">

            <a class="nav-link dropdown-toggle" id="actionDropdown" href="#" data-toggle="dropdown">
              <i class="fa fa-user-circle"></i>
              Tài khoản
            </a>

            <div class="dropdown-menu navbar-dropdown dropdown-right" aria-labelledby="actionDropdown">
              <a class="dropdown-item" routerLink="/manager/my-profile">
                <i class="fa fa-user-circle"></i>
                Cập nhật thông tin
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onBtnLogOutStaffClick()">
                <i class="fa fa-sign-out text-warning"></i>
                Đăng xuất
              </a>
            </div>
          </li>
          <!-- end info account -->
        </ul>

        <button (click)="onToggleButtonMobileClick()"
          class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <div
        [ngClass]="(navLeftMobile==true)? 'row row-offcanvas row-offcanvas-right active': 'row row-offcanvas row-offcanvas-right'">

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <!--info user -->
            <li class="nav-item nav-profile">
              <div class="nav-link">
                <div class="profile-image">
                  <img style="object-fit: cover;" [src]="staffInfoLogin.img" alt="image">
                  <span class="online-status online"></span>
                </div>
                <div class="profile-name">
                  <p class="name">
                    {{staffInfoLogin.name}}
                  </p>
                  <p class="designation">
                    {{staffInfoLogin.email}}
                  </p>
                </div>
              </div>
            </li>

            <!-- Thông tin tài khoản -->
            <li class="nav-item">
              <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false"
                aria-controls="page-layouts">
                <i class="far fa-user-circle fa-lg fa-fw margin-5"></i>
                <span class="menu-title">Thông tin tài khoản</span>
                <span class="badge badge-primary">2</span>
              </a>
              <div class="collapse" id="page-layouts">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a routerLinkActive="mm-active" class="nav-link"
                      routerLink="/manager/my-profile">My profile</a>
                  </li>
                  <li class="nav-item btn-logout"> <a routerLinkActive="mm-active" class="nav-link"
                      (click)="onBtnLogOutStaffClick()">Đăng xuất</a>
                  </li>
                </ul>
              </div>
            </li>
 

            <div *ngFor="let dataMenu of dataMenus">
                <!-- home dashboard -->
                <li *ngIf="dataMenu.IsGroup==0 && dataMenu.Status!=0" class="nav-item"  routerLinkActive="custom-active" (click)="onToggleButtonMobileClick()">
                  <a class="nav-link" routerLinkActive="active" routerLink="{{dataMenu.Slug}}">
                    <i class="{{onFormatIcon(dataMenu.Icon)}} fa-lg fa-fw margin-5"></i>
                    <span class="menu-title"> {{dataMenu.Name}}</span>
                    <!-- <span class="badge badge-success ml-2">Pinkways</span> -->
                  </a>
                </li>

                <!-- Quản lý Group -->
                <li *ngIf="dataMenu.IsGroup==1 && dataMenu.Status!=0" class="nav-item">
                  <a class="nav-link" data-toggle="collapse" href="#page-{{dataMenu.id}}" aria-expanded="false" aria-controls="page-{{dataMenu.id}}">
                      <i class="{{onFormatIcon(dataMenu.Icon)}} fa-lg fa-fw margin-5"></i>
                      <span class="menu-title"> {{dataMenu.Name}}</span>
                      <span class="badge badge-primary">{{dataMenu.Nodes.length}}</span>
                  </a>

                  <div class="collapse" routerLinkActive="show" id="page-{{dataMenu.id}}">
                      <ul class="nav flex-column sub-menu">  
                          <div *ngFor="let childMenu of dataMenu.Nodes">
                            <!--c2-menu-->
                            <li *ngIf="childMenu.Status!=0" class="nav-item" (click)="onToggleButtonMobileClick()">
                              <a class="nav-link" routerLinkActive="active" routerLink="{{childMenu.Slug}}">
                                <i class="{{onFormatIcon(childMenu.Icon)}} fa-lg fa-fw margin-5"></i>
                                <span class="menu-title"> {{childMenu.Name}}</span>
                              </a>
                            </li>   
                          </div>
                      </ul>
                  </div>
              </li> 

            </div>


            <li class="mt-4 nav-item nav-progress">
              <h6 class="nav-progress-heading mt-4 font-weight-normal">
                Today's Sales
                <span class="nav-progress-sub-heading">
                  50 sold
                </span>
              </h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <h6 class="nav-progress-heading mt-4 font-weight-normal">
                Customer target
                <span class="nav-progress-sub-heading">
                  500
                </span>
              </h6>
              <div class="progress progress-sm">
                <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="50"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->

        <div class="content-wrapper">

          <div class="wp-inner">
            <router-outlet></router-outlet>
          </div>

          <!-- partial:../../partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2020 <a
                  href="#">izisoft</a>. All rights reserved.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Pinkways & TuPham made with <i
                  class="mdi mdi-heart text-danger"></i></span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- content-wrapper ends -->
      </div>
      <!-- row-offcanvas ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>

</div>