<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>GENERATIONS SCREEN</h5>
        </div>
    </div>
</mat-card>

<div mat-dialog-content class="project-name">
    <h3 class="text-center">Công Ty Cổ Phần Công Nghệ IZI Software ^.^ </h3>

    <!-- search project -->
    <div class="row justify-content-center">
        <!-- Database -->
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Database</mat-label>
                <mat-select [(ngModel)]="modelDatabase" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let database of databases" [value]="database.id">
                        {{database.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Backend -->
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Backend</mat-label>
                <mat-select [(ngModel)]="modelBackend" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let backend of backends" [value]="backend.id">
                        {{backend.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Frontend -->
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Frontend</mat-label>
                <mat-select [(ngModel)]="modelFrontEnd" [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let frontend of frontends" [value]="frontend.id">
                        {{frontend.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- Devops -->
        <div class="col-md-3">
            <mat-form-field class="example-full-width">
                <mat-label>Devops</mat-label>
                <mat-select [(ngModel)]="modelDevops">
                    <mat-option *ngFor="let item of devops" [value]="item.id">
                        {{item.value}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

</div>

<!-- spinner -->
<div class="custom-spinner" *ngIf="isProcessing">
    <mat-progress-spinner [color]="color" [mode]="mode" [value]="value">
    </mat-progress-spinner>
</div>

<!--Modal-->
<div mat-dialog-actions class="justify-content-center">
    <button [disabled]="isProcessing" type="button" class="btn btn-info custom-button"
        (click)="onBtnPreviewClick()"><i class="mdi mdi-upload"></i>Preview</button>
    <button [disabled]="isProcessing" type="button" class="btn btn-danger custom-button"
        (click)="onBtnProcessClick()"><i class="mdi mdi-upload"></i>Gencode</button>
    <button [disabled]="isProcessing" type="button" class="btn btn-success custom-button"
        (click)="onBtnCancelClick()"><i class="mdi mdi-loop"></i>Cancel</button>
</div>