 



<mat-card class="dialog-box-shadow">
  <div class="title-dialog text-center system-custom" role="alert">
    <h5 class="text-uppercase font-weight-bolder" i18n>Quản lý Role Detail</h5>
  </div>
  <mat-card-content>
    <form [formGroup]="form" class="col-md-12">
      <div class="row custom-overflow">

         <!-- IdRole field -->                                                           
         <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                                     
            <mat-label i18n>PHÒNG BAN<span class="text-red">*</span></mat-label>                               
            <mat-select formControlName="IdRole" [(ngModel)]="input.IdRole">                                
              <mat-option *ngFor="let role of roleDatas" [value]="role.id">                           
                {{role.Name}}                                                                            
              </mat-option>                                                                               
            </mat-select>                                                                                 
          </mat-form-field>                                                                               
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['IdRole'].invalid      
              && (form.controls['IdRole'].dirty || form.controls['IdRole'].touched)"> 
            <div *ngIf="form.controls['IdRole'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>  

        <!-- IdMenu field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                                     
            <mat-label i18n>MENU CHA<span class="text-red">*</span></mat-label>                               
            <mat-select formControlName="IdMenu" [(ngModel)]="input.IdMenu">                                
              <mat-option *ngFor="let menu of menuDatas" [value]="menu.id">                           
                {{menu.Name}}                                                                            
              </mat-option>                                                                               
            </mat-select>                                                                                 
          </mat-form-field>                                                                               
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['IdMenu'].invalid      
              && (form.controls['IdMenu'].dirty || form.controls['IdMenu'].touched)"> 
            <div *ngIf="form.controls['IdMenu'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>   

        <!-- Status field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                                     
            <mat-label i18n>TRẠNG THÁI<span class="text-red">*</span></mat-label>                               
            <mat-select formControlName="Status" [(ngModel)]="input.Status">                                
              <mat-option *ngFor="let status of status" [value]="status.key">                           
                {{status.value}}                                                                            
              </mat-option>                                                                               
            </mat-select>                                                                                 
          </mat-form-field>                                                                               
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Status'].invalid      
              && (form.controls['Status'].dirty || form.controls['Status'].touched)"> 
            <div *ngIf="form.controls['Status'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>    

      </div>
    </form>
  </mat-card-content> 

  <!--Modal -->
  <div class="text-center" style="margin-top: 10px;">
    <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
        class="fa fa-times"></i> Đóng</button>
  </div>

</mat-card> 