<mat-card class="dialog-box-shadow">
  <div class="title-dialog text-center system-custom" role="alert">
    <h5 class="text-uppercase font-weight-bolder" i18n>Quản lý Menu</h5>
  </div>
  <mat-card-content>
    <form [formGroup]="form" class="col-md-12">
      <div class="row custom-overflow">

        <!-- menu field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>MENU CHA<span class="text-red">*</span></mat-label>
            <mat-select formControlName="menu" [(ngModel)]="input.menu">
              <mat-option *ngFor="let menu of menuDatas" [value]="menu.id">
                {{menu.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['menu'].invalid
              && (form.controls['menu'].dirty || form.controls['menu'].touched)">
            <div *ngIf="form.controls['menu'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

        <!-- isGroup field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>GROUP<span class="text-red">*</span></mat-label>
            <mat-select formControlName="isGroup" [(ngModel)]="input.isGroup">
              <mat-option [value]="'0'">
                NOT GROUP
              </mat-option>
              <mat-option [value]="'1'">
                IS GROUP
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['isGroup'].invalid
              && (form.controls['isGroup'].dirty || form.controls['isGroup'].touched)">
            <div *ngIf="form.controls['isGroup'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

        <!-- name field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>MENU TITLE<span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.name" formControlName="name">
            <button mat-button *ngIf="input.name" matSuffix mat-icon-button aria-label="Clear" (click)="input.name=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['name'].invalid
              && (form.controls['name'].dirty || form.controls['name'].touched)">
            <div *ngIf="form.controls['name'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

        <!-- slug field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>URL slug<span class="text-red"></span></mat-label>
            <input matInput [(ngModel)]="input.slug" formControlName="slug">
            <button mat-button *ngIf="input.slug" matSuffix mat-icon-button aria-label="Clear" (click)="input.slug=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['slug'].invalid
              && (form.controls['slug'].dirty || form.controls['slug'].touched)">
            <div *ngIf="form.controls['slug'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

        <!-- icon field -->
        <div class="col-md-12">
          <a href="https://fontawesome.com/icons?d=gallery&m=free" target="_blank">DANH SÁCH icon</a>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>fab fa-python<span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.icon" formControlName="icon">
            <button mat-button *ngIf="input.icon" matSuffix mat-icon-button aria-label="Clear" (click)="input.icon=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['icon'].invalid
              && (form.controls['icon'].dirty || form.controls['icon'].touched)">
            <div *ngIf="form.controls['icon'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

        <!-- position field -->
        <div class="col-md-12">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label i18n>VỊ TRÍ<span class="text-red">*</span></mat-label>
            <input matInput [(ngModel)]="input.position" formControlName="position">
            <button mat-button *ngIf="input.position" matSuffix mat-icon-button aria-label="Clear"
              (click)="input.position=''">
              <i class="fas fa-times-circle"></i>
            </button>
          </mat-form-field>

          <div class="alert alert-danger" *ngIf="form.controls['position'].invalid
              && (form.controls['position'].dirty || form.controls['position'].touched)">
            <div *ngIf="form.controls['position'].errors.required" i18n>
              Vui lòng nhập trường này.
            </div>
          </div>
        </div>

      </div>
    </form>
  </mat-card-content>

  <!--Modal -->
  <div class="text-center" style="margin-top: 10px;">
    <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()"
      class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
        class="fa fa-times"></i> Đóng</button>
  </div>

</mat-card>
