.example-full-width {
  width: 100%;
}
.title-block {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  color: #fff;
  font-size: 18px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.title-main {
  p {
    margin-bottom: 0px;
    font-size: 15px;
  }
}
.w-120 {
  width: 140px;
}
.w-40 {
  width: 200px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.system-custom {
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-width: 0;
  transition: all 0.2s;
  margin-bottom: 20px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.button-system-custom {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.title-header-crud {
  box-shadow: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.button-filter {
  padding: 6px 33px;
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  color: #2bbbad;
}

.contain-button-filter {
  padding-top: 8px;
}

th {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.7px;
}

.mat-header-row {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  text-transform: uppercase;
  height: 50px;
}

tr.mat-row:hover {
  background: #e0f2f1;
}

.example-form.form-sort {
  max-width: 65px !important;
  min-width: 65px !important;
}

.text-red {
  color: #ff0000;
  font-size: 17px;
}

.btn-filter {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
}

.btn-add {
  display: inline-block;
}

.btn-add-mobile {
  display: none;
}
@media (max-width: 420px) {
  .btn-add {
    display: none;
  }
  .btn-add-mobile {
    width: 80px;
    display: inline-block;
    margin-right: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-accept {
    width: 80px;
    margin-right: 10px !important;
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-del {
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .option {
    margin-left: 30px;
    margin-bottom: 10px;
  }
}

.title-block {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  color: #fff;
  font-size: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding-top: 11px;
  padding-bottom: 10px;
}
.example-full-width {
  width: 100%;
}

.wp-table {
  overflow-x: scroll !important;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: pre-line;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}
@media screen and (max-width: 570px) {
  .mat-header-cell {
    white-space: nowrap;
  }
}

@media screen and (max-width: 570px) {
  .mat-header-cell {
    white-space: nowrap;
  }
  .menu-bottom {
    display: flex;
  }
}
// ------------------------------------ dialog
.border-dialog {
  border-color: #15bec4 !important;
  box-shadow: none;
  overflow-y: scroll;
  max-height: 100%;
  height: 80%;
  width: 100%;
}

.title-dialog {
  background: linear-gradient(88deg, #13b4ca, #18cabe);
  padding: 10px;
  color: #fff;
  margin-bottom: 10px;
  &:hover {
    background: linear-gradient(88deg, #648a8f, #11dbcd);
  }
  h5 {
    margin-bottom: 0px;
  }
}

.mat-dialog-container#mat-dialog-0 {
  margin-top: 30px;
}

.custom-preview-file{
  margin-top: 30px;
  margin-bottom: 10px;
  display: block;
}  

.custom-button{
  width: 140px;
}