<mat-card class="dialog-box-shadow">
  <div class="title-dialog text-center system-custom" role="alert">
    <h5 class="text-uppercase font-weight-bolder" i18n>Thông tin Xuân Thành</h5>
  </div>
  <mat-card-content>
    <form [formGroup]="form" class="col-md-12">
      <div class="row custom-overflow">

                <!-- Name field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                 
            <mat-label i18n>Name <span class="text-red">*</span></mat-label>           
            <input matInput [(ngModel)]="input.Name" formControlName="Name">          
            <button mat-button *ngIf="input.Name" matSuffix mat-icon-button           
             aria-label="Clear" (click)="input.Name=''">                            
              <mat-icon>close</mat-icon>                                              
            </button>                                                                 
          </mat-form-field>                                                           
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Name'].invalid      
              && (form.controls['Name'].dirty || form.controls['Name'].touched)"> 
            <div *ngIf="form.controls['Name'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

        <!-- Born field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width" appearance="fill">                                   
            <mat-label i18n>Born<span class="text-red">*</span></mat-label>                          
            <input matInput [(ngModel)]="input.Born" formControlName="Born" [matDatepicker]="pickerBorn"> 
            <mat-datepicker-toggle matSuffix [for]="pickerBorn"></mat-datepicker-toggle>                  
            <mat-datepicker touchUi #pickerBorn></mat-datepicker>                                         
          </mat-form-field>                                                                               
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Born'].invalid      
              && (form.controls['Born'].dirty || form.controls['Born'].touched)"> 
            <div *ngIf="form.controls['Born'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

        <!-- Detail field -->                                                           
        <div class="col-md-12">                                                       
          <mat-label i18n>Detail<span class="text-red">*</span></mat-label>                             
          <ckeditor [(ngModel)]="input.Detail" formControlName="Detail" [config]="{uiColor: '#16c1c3'}" 
            debounce="500">                                                            
          </ckeditor>                                                                                     
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Detail'].invalid      
              && (form.controls['Detail'].dirty || form.controls['Detail'].touched)"> 
            <div *ngIf="form.controls['Detail'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

        <!-- Address field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                 
            <mat-label i18n>Address <span class="text-red">*</span></mat-label>           
            <input matInput [(ngModel)]="input.Address" formControlName="Address">          
            <button mat-button *ngIf="input.Address" matSuffix mat-icon-button           
             aria-label="Clear" (click)="input.Address=''">                            
              <mat-icon>close</mat-icon>                                              
            </button>                                                                 
          </mat-form-field>                                                           
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Address'].invalid      
              && (form.controls['Address'].dirty || form.controls['Address'].touched)"> 
            <div *ngIf="form.controls['Address'].errors.min" i18n>                     
              Số không được nhỏ hơn 10.                                               
            </div>                                                                    
            <div *ngIf="form.controls['Address'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

   

      </div>
    </form>
  </mat-card-content> 

  <!--Modal -->
  <div class="text-center" style="margin-top: 10px;">
    <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
        class="fa fa-times"></i> Đóng</button>
  </div>

</mat-card> 