<div class="title-dialog text-center system-custom" role="alert">
  <h5 class="text-uppercase font-weight-bolder" i18n>{{phuong0}}</h5>
</div>
<mat-card class="border border-dialog">
  <mat-card-content class="custom-overflow">
    <form [formGroup]="form" class="col-md-12">
      <div class="row">

{{phuong1}}   

      </div>
    </form>
  </mat-card-content>  
</mat-card> 

<!--Modal -->
<div class="text-center" style="margin-top: 10px;">
  <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
    <i class="fa fa-check"></i>
    Đồng ý</button>
  <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
      class="fa fa-times"></i> Đóng</button>
</div>