<mat-card class="dialog-box-shadow">
  <div class="title-dialog text-center system-custom" role="alert">
    <h5 class="text-uppercase font-weight-bolder" i18n>Văn thành</h5>
  </div>
  <mat-card-content>
    <form [formGroup]="form" class="col-md-12">
      <div class="row custom-overflow">

                <!-- IdXuanThanh field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                                     
            <mat-label i18n>Chọn xuân thành<span class="text-red">*</span></mat-label>                               
            <mat-select formControlName="IdXuanThanh" [(ngModel)]="input.IdXuanThanh">                                
              <mat-option *ngFor="let XuanThanh of XuanThanhDatas" [value]="XuanThanh.id">                           
                {{XuanThanh.Name}}                                                                            
              </mat-option>                                                                               
            </mat-select>                                                                                 
          </mat-form-field>                                                                               
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['IdXuanThanh'].invalid      
              && (form.controls['IdXuanThanh'].dirty || form.controls['IdXuanThanh'].touched)"> 
            <div *ngIf="form.controls['IdXuanThanh'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

        <!-- Fullname field -->                                                           
        <div class="col-md-12">                                                       
          <mat-form-field class="example-full-width">                                 
            <mat-label i18n>Họ và tên <span class="text-red">*</span></mat-label>           
            <input matInput [(ngModel)]="input.Fullname" formControlName="Fullname">          
            <button mat-button *ngIf="input.Fullname" matSuffix mat-icon-button           
             aria-label="Clear" (click)="input.Fullname=''">                            
              <mat-icon>close</mat-icon>                                              
            </button>                                                                 
          </mat-form-field>                                                           
                                                                                      
          <div class="alert alert-danger" *ngIf="form.controls['Fullname'].invalid      
              && (form.controls['Fullname'].dirty || form.controls['Fullname'].touched)"> 
            <div *ngIf="form.controls['Fullname'].errors.required" i18n>                
              Vui lòng nhập trường này.                                               
            </div>                                                                    
          </div>                                                                      
        </div>                                                                        

   

      </div>
    </form>
  </mat-card-content> 

  <!--Modal -->
  <div class="text-center" style="margin-top: 10px;">
    <button type="button" [disabled]="!form.valid || isUpdate" cdkFocusInitial (click)="onBtnSubmitClick()" class="btn btn-success btn-fw mr-3 custom-button" i18n>
      <i class="fa fa-check"></i>
      Đồng ý</button>
    <button class="btn btn-warning custom-margin-button custom-button" [mat-dialog-close]="data.animal" i18n> <i
        class="fa fa-times"></i> Đóng</button>
  </div>

</mat-card> 