<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>CLASSES</h5>
        </div>
    </div>
</mat-card>

<!-- search project -->
<mat-card class="system-custom">
    <div class="row">
        <div class="col-md-10">
            <mat-form-field class="example-full-width">
                <mat-label>Project name</mat-label>
                <mat-select (selectionChange)="getListClass()" [(ngModel)]="projectId"
                    [ngModelOptions]="{standalone: true}">
                    <mat-option *ngFor="let project of projects" [value]="project.id">
                        {{project.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-2 text-center">
            <div class="example-button-row contain-button-filter">
                <button (click)="getListClass()" class="btn-transition btn btn-outline-primary button-filter">Search
                </button>
            </div>
        </div>
    </div>
</mat-card>

<!-- add new project -->
<div class="add-button">
    <button type="button" class="btn btn-success btn-fw" (click)="openDialogClass()"><i class="mdi mdi-upload"></i>New
        Table</button>
</div>

<!-- list project -->
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- class Name Column -->
    <ng-container matColumnDef="className">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Class Name </th>
        <td mat-cell *matCellDef="let element"> {{element.classname}} </td>
    </ng-container>

    <!-- properties Column -->
    <ng-container matColumnDef="properties">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Properties </th>
        <td mat-cell *matCellDef="let element"> {{
            (element.properties.length>20)? (element.properties | slice:0:20)+'...':(element.properties)
             }} </td>
    </ng-container>

    <!-- attributes Column -->
    <ng-container matColumnDef="attributes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Attributes </th>
        <td mat-cell *matCellDef="let element"> {{
            (element.attributes.length>20)? (element.attributes | slice:0:20)+'...':(element.attributes)
             }} </td>
    </ng-container>

    <!-- lengths Column -->
    <ng-container matColumnDef="lengths">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lengths </th>
        <td mat-cell *matCellDef="let element"> {{
            (element.lengths.length>20)? (element.lengths | slice:0:20)+'...':(element.lengths)
             }} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" (click)="openDialogUpdate(element)">Update</button>
            <button mat-button color="warn" (click)="openSnackBar(element)">Delete</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator class="mb-20 box-shadow" [pageSizeOptions]="[10, 20, 40, 100]" showFirstLastButtons></mat-paginator>