<mat-card class="title-block">
    <div class="row">
        <div class="col-md-12 title-main">
            <h5>THÔNG TIN TABLE</h5>
        </div>
    </div>
</mat-card>

<mat-card-content class="project-name">
    <form [formGroup]="form" class="col-md-12">
        <!-- class name -->
        <div class="row">
            <div class="col-md-5 example-full-width text-center">
                <label for="">Tên bảng:</label>
                <mat-form-field class="ml-3">
                    <mat-label>Tên bảng</mat-label>
                    <input matInput [(ngModel)]="class.classname" formControlName="classname">
                </mat-form-field>
            </div>
            <div class="col-md-5 example-full-width text-center">
                <label for="">Chọn dự án:</label>
                <mat-form-field class="ml-3">
                    <mat-label>Chọn dự án</mat-label>
                    <mat-select [(ngModel)]="class.idproject" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let project of projects" [value]="project.id">
                            {{project.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!--start from-->
        <div class="custom-overflow">
            <!-- add item button -->
            <div class="text-center button" *ngIf="listPropAndAttr.length==0">
                <button (click)="addPropAndAttr()" type="button" class="btn btn-success btn-fw"><i
                        class="fa fa-plus-circle">
                    </i> Add Item</button>
            </div>

            <div class="row" style="margin: 0; padding: 0" *ngFor="let propAndAttr of listPropAndAttr; let i=index">
                <!--Properties-->
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Properties</mat-label>
                        <input matInput [(ngModel)]="propAndAttr.property" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>

                <!--Attributes-->
                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <mat-label>Attributes</mat-label>
                        <mat-select [(ngModel)]="propAndAttr.attribute" [ngModelOptions]="{standalone: true}">
                            <mat-option *ngFor="let attributes of attributes" [value]="attributes.value">
                                {{attributes.value}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!--Max Length-->
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <mat-label>Max Length</mat-label>
                        <input matInput [(ngModel)]="propAndAttr.length" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>

                <!-- Add or Remove attribute -->
                <div class="col-md-4">
                    <button type="button" class="btn btn-success custom-button-mini" (click)="addPropAndAttr()"><i
                            class="mdi mdi-upload"></i>Add</button>
                    <button type="button" class="btn btn-info custom-button-mini" (click)="removePropAndAttr(i)"><i
                            class="mdi mdi-delete"></i>Delete</button>
                </div>
            </div>
        </div>
        <!--end form-->
    </form>
</mat-card-content>


<!--Modal-->
<div mat-dialog-actions class="justify-content-center">
    <button type="button" class="btn btn-danger custom-button" (click)="onBtnProcessClick()"><i
            class="mdi mdi-upload"></i>Process</button>
    <button type="button" class="btn btn-success custom-button" (click)="onBtnCancelClick()"><i
            class="mdi mdi-loop"></i>Cancel</button>
</div>