<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div class="row">
      <div class="content-wrapper full-page-wrapper d-flex align-items-center auth login-full-bg">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-dark text-left p-5">
              <h2>Đăng nhập</h2>
              <h4 class="font-weight-light">Yamamoto! chào mừng bạn.</h4>
              <form class="pt-5">
                <div class="form-group">
                  <label for="exampleInputEmail1">Username</label>
                  <input maxlength="50" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.username" type="email"
                    class="form-control" id="exampleInputEmail1" placeholder="Username">
                  <i class="mdi mdi-account"></i>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input maxlength="50" [ngModelOptions]="{standalone: true}" [(ngModel)]="input.password"
                    type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  <i class="mdi mdi-eye"></i>
                </div>
                <div class="mt-5" (click)="onBtnLoginClick()">
                  <a class="btn btn-block btn-warning btn-lg font-weight-medium">Login</a>
                </div>
                <div class="mt-3 text-center">
                  <a href="#" class="auth-link text-white">Forgot password?</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- row ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>